<%-include('../partials/header')%>

    <h1 class="text-center">Edit <%=campground.name%></h1>

    <div class="campground-form animate fadeIn form-animate">
        <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" class="form-signin">
            <div class="form-group">
                <input type="text" class="form-control" name="campground[name]" value="<%=campground.name%>">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="campground[image]" value="<%=campground.image%>">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="campground[description]" value="<%=campground.description%>">
            </div>
            <div class="form-group">
                <button class="btn bg-dark btn-block">Submit</button>
            </div>
        </form>     
        <a href="/campgrounds">Back to Camp</a>
    </div>

    <%-include('../partials/footer')%>